<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966614856030-eoldverc4103sfahul5lp1rmorrtdqhb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966614856030-eoldverc4103sfahul5lp1rmorrtdqhb</string>
	<key>API_KEY</key>
	<string>AIzaSyDbr-k0s1-78lRjxcQ_YAWpq2XH9DmPx54</string>
	<key>GCM_SENDER_ID</key>
	<string>966614856030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gestureUserInterface</string>
	<key>PROJECT_ID</key>
	<string>gesture-user-interface</string>
	<key>STORAGE_BUCKET</key>
	<string>gesture-user-interface.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966614856030:ios:3abde1309191b27df8dfcf</string>
</dict>
</plist>